table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

th.mat-sort-header {
  font-weight: bold;
  font-size: 12px;
  padding: 15px;
}

th.mat-sort-header:hover,
.row-hover:hover {
  background-color: #5cb3aa7a;
  transition: background-color 350ms linear;
  cursor: pointer;
}
