.wrapper {
  height: 100%;
  clear: left;
}
.user {
  height: 100%;
  width: 100%;
}
.mainCard {
  width: 100%;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  font-size: 15px;
}
.mainCard .card {
  border-radius: 10px;
  text-align: left;
  margin-left: 400px;
}

.userPicture {
  height: 400px;
  width: 320px;
  float: left;
  margin: 40px;
}

.mat-card-title {
  font-size: 35px;
  font-weight: bold;
  padding: 15px 0px 15px;
}

.mat-card-content {
  margin: 15px 0px;
  font-size: 20px;
  text-align: left;
}

.previewEyeColor {
  height: 100%;
  margin-left: 12px;
  font-size: 25px;
}

.card p {
  margin: 20px 20px;
}
.category {
  font-weight: bold;
}

.errorMsgCard {
  height: 100%;
  width: 100%;
  font-weight: bold;
  padding: 180px 0px;
  /*padding: 410px 0px;*/
  text-align: center;
  font-size: 30px;
}
.errorMsgCard img {
  height: 300px;
  width: 300px;
  margin-top: 20px;
}
