<div class="wrapper" *ngIf="hasLoaded">
  <div class="user" *ngIf="userExists; else userNotExists">
    <mat-card class="mainCard"
      ><img class="userPicture" mat-card-image src="{{ userPictureURL }}" />
      <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      <mat-card class="card">
        <p>
          <span class="category">Age : </span>
          <span class="value">{{ user.age }}</span>
        </p>
        <p>
          <span class="category">Eyes color : </span>
          <span class="value">{{ user.eyeColor }}</span>
          <span style="display: inline-block"
            ><div class="previewEyeColor" style="color: {{ user.eyeColor }}">
              &#9632;
            </div></span
          >
        </p>
        <p>
          <span class="category">Phone : </span>
          <span class="value">{{ user.phone }}</span>
        </p>
        <p>
          <span class="category">Registered on : </span>
          <span class="value">{{ user.registered }}</span>
        </p>
      </mat-card>
      <mat-card-content
        ><span *ngIf="user.addresses.length > 1">Addresses</span
        ><span *ngIf="user.addresses.length === 1">Address</span>
        :</mat-card-content
      >
      <mat-card class="card" *ngFor="let address of user.addresses">
        {{ address | concatenateAddress }}
      </mat-card>
    </mat-card>
  </div>
</div>

<ng-template #userNotExists>
  <mat-card class="errorMsgCard">
    <p class="errorMsg">
      Sorry, the requested user does not exist. Please try again.
    </p>
    <br />
    <div style="background-color: transparent">
      <img src="/assets/smiley-sad.png" />
    </div>
  </mat-card>
</ng-template>
