.topbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #116530;
  color: white;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.banner-left {
  float: left;
  width: 100%;
  line-height: 60px;
}
.topbar a,
.topbar a:hover {
  color: white;
  text-decoration: none;
}
.topbar a:hover {
  background-color: #6bb188c4;
  transition: background-color 250ms linear;
  cursor: pointer;
}
