<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .content {
    display: flex;
    /*margin: 82px 20px 30px 20px;*/
    margin: 72px 20px 20px 20px;
    background-color: #ffffffff;
    flex-direction: column;
  }
</style>

<div>
  <app-topbar text="Home"></app-topbar>
</div>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
