/* You can add global styles to this file, and also import other style files */

html,
body {
  background-color: #ddd7cbad;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
